<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Мой сайт</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <li>

                    <div class="dropdown">
                        <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Категории
                        </a>

                        <ul class="dropdown-menu">

                            {% for item in category %}
                                <li><a class="dropdown-item"
                                       href="{% url 'cat' pk=item.id %}">{{ item.title }}</a></li>
                            {% endfor %}

                            {% comment %} <li><a class="dropdown-item" href="#">Another action</a></li> {% endcomment %}
                            {% comment %} <li><a class="dropdown-item" href="#">Something else here</a></li> {% endcomment %}
                        </ul>
                    </div>
                </li>
             </ul>
            </div>
            <form class="d-flex" method="get" action="{% url 'main' %}">
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>